Ans1

In [2]:
import pandas as pd

In [3]:
data=pd.Series([4,8,15,16,23,42])

In [4]:
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Ans2:

In [8]:
l=[1,2,3,4,5,6,7,8,9,10]

In [9]:
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Ans3

In [17]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [21]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans4

Series can only contain single list with index.

We can say that a dataframe is a collection of series that can be used to analyse the data.

In [22]:
data=pd.Series([1,2,3,4,5])

In [23]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

Ans5:

Ans5:

read_csv()

head()

describe()

memory_usage()

astype()

loc[:]

to_datetime()

value_counts()

drop_duplicates()

groupby()

Ans6:

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

Ans7

In [25]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [26]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female